# *FOR LOOP*

In [1]:
data = 'python'

In [2]:
data[0]

'p'

In [18]:
for x in data:
    print('lincoln',x)

lincoln p
lincoln y
lincoln t
lincoln h
lincoln o
lincoln n

In [19]:
for x in range(6):
    print(data[x])

p
y
t
h
o
n

In [24]:
data = 'I Love Python'
for i in range(len(data)):
    print(data[i])

I

L
o
v
e

P
y
t
h
o
n

In [26]:
data.split()

['I', 'Love', 'Python']

In [28]:
data = 'I Love Python'
data = data.split()
for i in range(len(data)):
    print(data[i],i)

I 0
Love 1
Python 2

In [39]:
n = [1,34,43,45,65,87]
total = 0
for x in n:
    total = total+x
    print(x,total)
print('Total', total)

1 1
34 35
43 78
45 123
65 188
87 275
Total 275

In [45]:
for i in range(10):
    print('I Love Python',i)

I Love Python 0
I Love Python 1
I Love Python 2
I Love Python 3
I Love Python 4
I Love Python 5
I Love Python 6
I Love Python 7
I Love Python 8
I Love Python 9

In [47]:
for i in range(10,40,2):
    print('I Love Python',i)

I Love Python 10
I Love Python 12
I Love Python 14
I Love Python 16
I Love Python 18
I Love Python 20
I Love Python 22
I Love Python 24
I Love Python 26
I Love Python 28
I Love Python 30
I Love Python 32
I Love Python 34
I Love Python 36
I Love Python 38

In [55]:
for i in range(1,10,2):
    print('I Love Python',i)

I Love Python 1
I Love Python 3
I Love Python 5
I Love Python 7
I Love Python 9

# *WHILE LOOP*

In [11]:
i = 0
while (i<=10):
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
i = 1
while (i<=10):
    print('Python',i)
    i = i+1

Python 1
Python 2
Python 3
Python 4
Python 5
Python 6
Python 7
Python 8
Python 9
Python 10

In [21]:
data = 'python'

i = 0
while (i<len(data)):
    print(data[i])
    i = i+1

p
y
t
h
o
n

In [20]:
data = 'python'
data = data.split()
i = 0
while i<len(data):
    print(data[i])
    i = i+1

python

# *NESTED LOOP*

In [41]:
rows = 4
for x in range(rows):
    for y in range (x+1):
        print('&',end=' ')
    print()

&
& &
& & &
& & & &

In [56]:
num =[1,2,3,4]
#outer loop

for x in num:
    #inner loop
    i = 0
    while i<len(num):
        print(num[i], end=' ')
        i=i+1
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4